body {
    margin: 0;
    text-align: center;
    /* font-family: Georgia, Times, Times New Roman, serif; */

}

.top-container {
    background-color: #E1F0DA;
    /* 이게 상대적이어야 자식 요소가 절대적일때 기준이 될 수 있음 */
    position: relative;
    padding-top: 100px;
}

.middle-container {
    background-color: red;
    width: 200px;
    height: 200px;
    /* 절대적 포지션을 부모요소 기준으로 여백을 주는것 */
    position: absolute;
    left: 300px;
}

.bottom-container {
    background-color: blue;
    width: 200px;
    height: 200px;
    /* 상대적 포지션은 원래 html 에서 위치해야할 곳을 기준으로 변경 */
    position: relative;
    left: 200px;
}


h1 {
    font-size: 2em;
    margin: 0 auto;
    width: 20%;
    font-family: "Dancing Script", cursive;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

p {
    font-family: "Gupter", serif;
    font-weight: 400;
    font-style: normal;

}

h2 {
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
}

.top-cloud {
    position: absolute;
    top: 50px;
    right: 30%;
}

.bottom-cloud {
    position: absolute;
    left: 30%;
    bottom: 350px;
}