<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Contact Me</title>
        <link rel="stylesheet" href="../static/style.css">
    </head>
    <body>
        <h1>My Contact Details</h1>
        <p>My Fictional Address</p>
        <p>01022223333</p>
        <p>myemail@gmail.com</p>
        <form action="mailto:info@evrey.com" method="post" enctype="text/plain">
            <label>Your Name :</label>
            <!--        input 종류 : https://developer.mozilla.org/en-US/docs/Web/HTML/Element/input-->
            <input type="text" name="yourName"><br>
            <label>Your Email :</label>
            <input type="email" name="yourEmail"><br>
            <label>Your Message</label><br>
            <textarea name="yourMessage" cols="30" rows="10"></textarea><br>
            <input type="submit">
        </form>

    </body>
</html>